Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dependencies, build_dependencies-alpine, build_tango-db, build_tango-db-alpine, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-java-alpine, build_tango-rest, build_tango-rest-alpine, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

build_dependencies:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_dependencies-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-db:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-db-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-cpp:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-cpp-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-java:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-java-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-rest:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-rest-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

SAR-315 Extended the template tests Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  charts/ska-tango-base/tests/deviceservers_test.yaml
  charts/ska-tango-base/tests/ingress_test.yaml
  charts/ska-tango-base/tests/itango_test.yaml
  charts/ska-tango-base/tests/jive_test.yaml
  charts/ska-tango-base/tests/logviewer_test.yaml
  charts/ska-tango-base/tests/tangodb_test.yaml
  charts/ska-tango-base/tests/vnc_test.yaml
Due: none

bumped version to 0.3.6
  .release
Due: none

bumped version to 0.3.7
  .release
Due: none

ROAM-297: build alpine images using fixed port fork
  images/ska-tango-images-tango-cpp-alpine/Dockerfile
Due: build_tango-cpp-alpine, build_pytango-builder-alpine, build_pytango-runtime-alpine

ROAM-297: build alpine images using fixed port fork
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
  images/ska-tango-images-tango-cpp-alpine/Dockerfile
Due: build_tango-cpp-alpine, build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ROAM-297: build alpine images using fixed port fork
  charts/ska-tango-util/templates/_multidevice-svc.yaml
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
  images/ska-tango-images-tango-cpp-alpine/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-rest, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1017: remove all java based tools
  charts/ska-tango-base/templates/jive.yaml
  charts/ska-tango-base/templates/logviewer.yaml
  charts/ska-tango-base/templates/tango-rest.yaml
  charts/ska-tango-base/tests/jive_test.yaml
  charts/ska-tango-base/tests/logviewer_test.yaml
  charts/ska-tango-base/tests/tango-rest_test.yaml
  charts/ska-tango-base/values.yaml.sh
  charts/ska-tango-umbrella/values.yaml
  tests/features/tango_tools.feature
  tests/unit/test_tango_tools.py
Due: none

ST-1017: remove tests and ingress
  charts/ska-tango-base/templates/ingress.yaml
  charts/ska-tango-base/tests/ingress_test.yaml
  docs/src/helm_charts.rst
Due: none

ROAM-297: build alpine images using fixed port fork
  Makefile
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/values.yaml.sh
  charts/ska-tango-util/templates/_multidevice-svc.yaml
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
  images/ska-tango-images-tango-cpp-alpine/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-rest, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

AT6-1082 Add mount path configuration to deviceserver
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-1114 python is python3 in pytango builder
  images/ska-tango-images-pytango-builder/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1114 try symbolic link instead of apt package
  images/ska-tango-images-pytango-builder/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

bumped version to 0.3.6
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  images/ska-tango-images-pytango-builder/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

bumped version to 0.3.6
  images/ska-tango-images-pytango-builder/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

bumped version to 0.3.9
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  images/ska-tango-images-pytango-builder/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

bumped version to 0.3.10
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  images/ska-tango-images-pytango-builder/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

bumped version to 0.3.5
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  images/ska-tango-images-pytango-builder/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

bumped version to 0.3.6
  .release
  charts/ska-tango-base/Chart.yaml
  images/ska-tango-images-pytango-builder/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

bumped version to 0.3.6
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  images/ska-tango-images-pytango-builder/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1112 fix orb end point for databaseds
  charts/ska-tango-base/templates/databaseds.yaml
Due: none

ST-1112 fix cluster_domain
  charts/ska-tango-base/templates/databaseds.yaml
Due: none

ST-1112 fix chart test
  charts/ska-tango-base/tests/databaseds_test.yaml
Due: none

ST-1112 bump version
  .gitignore
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
Due: none

ST-1062: Add annonations to allow the vault injector to add the secrets as export commands. Update .make submodule.
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/tangodb.yaml
  charts/ska-tango-base/tests/databaseds_test.yaml
Due: none

ST-1065: Add annonations to allow the vault injector to add the secrets as export commands. Update .make submodule.
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/tangodb.yaml
  charts/ska-tango-base/tests/databaseds_test.yaml
Due: none

ST-1065: Change contrainer command.
  charts/ska-tango-base/templates/databaseds.yaml
Due: none

ST-1065: Update helm unittest.
  charts/ska-tango-base/tests/databaseds_test.yaml
Due: none

ST-1065: Update annotations.
  charts/ska-tango-base/templates/databaseds.yaml
Due: none

ST-1065: Fix secret path.
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/tangodb.yaml
Due: none

ROAM-297: build alpine images using fixed port fork
  images/ska-tango-images-tango-cpp-alpine/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-rest, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

Path conditions:
  build_dependencies: any of: images/ska-tango-images-tango-dependencies/*
  build_dependencies-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*
  build_tango-db: any of: images/ska-tango-images-tango-db/*
  build_tango-db-alpine: any of: images/ska-tango-images-tango-db-alpine/*
  build_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  build_tango-cpp-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-cpp-alpine/*
  build_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  build_tango-java-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-java-alpine/*
  build_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-rest/*
  build_tango-rest-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-java-alpine/*, images/ska-tango-images-tango-rest-alpine/*
  build_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  build_pytango-builder-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*
  build_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  build_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  build_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  build_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  build_pytango-runtime-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*
  build_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  build_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  build_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  build_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  build_tango-dsconfig-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-dsconfig-alpine/*
  build_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  build_tango-itango-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-itango-alpine/*
  build_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
  build_tango-pytango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  build_tango-panic: any of: images/ska-tango-images-tango-panic/*, images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  build_tango-panic-gui: any of: images/ska-tango-images-tango-panic-gui/*, images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
