Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

Path conditions:
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_tango-rest: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-rest/**/*
  build_pytango-builder: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*
  build_tango-pogo: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-pogo/**/*
  build_tango-libtango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*
  build_tango-jive: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-jive/**/*
  build_pytango-runtime: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*
  build_tango-admin: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-admin/**/*
  build_tango-databaseds: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-databaseds/**/*
  build_tango-test: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-test/**/*
  build_tango-dsconfig: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*, docker/tango/tango-dsconfig/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*, docker/tango/tango-itango/**/*
  build_tango-vnc: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-vnc/**/*
  build_tango-pytango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*, docker/tango/tango-pytango/**/*

ST-811 fix dockerfiles for dsconfig, itango and pytango
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-pytango/Dockerfile
Due: build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 remove prefix from dockerfiles
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-dependencies/.release
  docker/tango/tango-java/.release
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-jive/.release
  docker/tango/tango-jive/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-libtango/Dockerfile
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pogo/Dockerfile
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-test/.release
  docker/tango/tango-test/Dockerfile
  docker/tango/tango-vnc/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

ST-811 fix dockerfile for tango-rest
  charts/tango-base/values.yaml
  docker/tango/tango-rest/Dockerfile
Due: build_tango-rest

ST-811 change dockerfiles to use new images
  charts/tango-base/values.yaml
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-db/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-jive/Dockerfile
  docker/tango/tango-libtango/Dockerfile
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pogo/Dockerfile
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-test/Dockerfile
  docker/tango/tango-vnc/Dockerfile
Due: build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

ST-811 fix dockerfile for pytango-runtime
  docker/tango/pytango-runtime/Dockerfile
Due: build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 fix versions of images in charts
  charts/Makefile
  charts/ska-tango-umbrella/.helmignore
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-umbrella/values.yaml
  charts/tango-base/Chart.yaml
  charts/tango-base/values.yaml
  charts/tango-util/Chart.yaml
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-vnc/.release
Due: build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

ST-811 fix pip.conf
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/tango-dsconfig/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 fix pip.conf
  docker/tango/pytango-builder/.release
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 fix pip.conf
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-builder/pip.conf
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/pip.conf
  docker/tango/tango-dsconfig/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 fix pip.conf
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/tango-dsconfig/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 fix dsconfig
  docker/make/.release
  docker/tango/tango-dsconfig/Dockerfile
Due: build_tango-dsconfig

ST-811 fix dsconfig
  docker/tango/tango-dsconfig/Dockerfile
Due: build_tango-dsconfig

ST-812 try try again
  docker/tango/tango-dsconfig/Dockerfile
Due: build_tango-dsconfig

ST-812 fix dsconfig
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-builder/pip.conf
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/pytango-runtime/pip.conf
  docker/tango/tango-dsconfig/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 fix dsconfig
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-builder/pip.conf
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/pytango-runtime/pip.conf
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 update versions
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-pytango/.release
  docker/tango/tango-pytango/Dockerfile
Due: build_tango-itango, build_tango-pytango

ST-811 fix charts
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-base/secrets/.gitkeep
  charts/ska-tango-base/template_tests/databaseds_test.yaml
  charts/ska-tango-base/templates/_helpers.tpl
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/deviceservers.yaml
  charts/ska-tango-base/templates/ingress.yaml
  charts/ska-tango-base/templates/itango.yaml
  charts/ska-tango-base/templates/jive.yaml
  charts/ska-tango-base/templates/logviewer.yaml
  charts/ska-tango-base/templates/tango-rest.yaml
  charts/ska-tango-base/templates/tangodb-pv.yaml
  charts/ska-tango-base/templates/tangodb.yaml
  charts/ska-tango-base/templates/vnc.yaml
  charts/ska-tango-base/values.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  charts/ska-tango-util/templates/_configuration.yaml
  charts/ska-tango-util/templates/_deviceserver.yaml
  charts/ska-tango-util/templates/_multidevice-config.yaml
  charts/ska-tango-util/templates/_multidevice-job.yaml
  charts/ska-tango-util/templates/_multidevice-sacc-role.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-811 fix charts
  charts/Makefile
Due: none

ST-811 fix charts
  post-deployment/features/tango-db.feature
  post-deployment/features/tango_tools.feature
Due: none

ST-811 fix charts
  post-deployment/features/tango-db.feature
  post-deployment/tests/test_tango-db.py
Due: none

ST-811 fix charts
  charts/ska-tango-base/values.yaml
  post-deployment/features/tango_tools.feature
Due: none

ST-811 fix charts
  charts/Makefile
  charts/ska-tango-umbrella/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-base/secrets/.gitkeep
  charts/tango-base/template_tests/databaseds_test.yaml
  charts/tango-base/templates/_helpers.tpl
  charts/tango-base/templates/databaseds.yaml
  charts/tango-base/templates/deviceservers.yaml
  charts/tango-base/templates/ingress.yaml
  charts/tango-base/templates/itango.yaml
  charts/tango-base/templates/jive.yaml
  charts/tango-base/templates/logviewer.yaml
  charts/tango-base/templates/tango-rest.yaml
  charts/tango-base/templates/tangodb-pv.yaml
  charts/tango-base/templates/tangodb.yaml
  charts/tango-base/templates/vnc.yaml
  charts/tango-base/values.yaml
Due: none

ST-811 fix charts
  charts/ska-tango-umbrella/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-util/Chart.yaml
  charts/tango-util/templates/_configuration.yaml
  charts/tango-util/templates/_deviceserver.yaml
  charts/tango-util/templates/_multidevice-config.yaml
  charts/tango-util/templates/_multidevice-job.yaml
  charts/tango-util/templates/_multidevice-sacc-role.yaml
  charts/tango-util/templates/_multidevice-svc.yaml
Due: none

ST-811 fix charts
  charts/ska-tango-umbrella/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-util/Chart.yaml
Due: none

ST-811 fix charts
  .gitlab-ci.yml
  charts/ska-tango-umbrella/Chart.yaml
  post-deployment/tests/test_tango-db.py
Due: none

ST-811 rename tango-util as ska-tangp-util
  charts/ska-tango-umbrella/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-util/Chart.yaml
Due: none

ST-811 change to ska-tango-base
  charts/tango-base/templates/itango.yaml
Due: none

ST-811 change to ska-tango-base
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-umbrella/values.yaml
  charts/tango-base/Chart.yaml
Due: none

ST-811 fix db test
  post-deployment/tests/test_tango-db.py
Due: none

ST-811 fix tango rest interface test
  post-deployment/features/tango_tools.feature
Due: none

ST-811 mv chart folders to new names
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-base/secrets/.gitkeep
  charts/ska-tango-base/template_tests/databaseds_test.yaml
  charts/ska-tango-base/templates/_helpers.tpl
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/deviceservers.yaml
  charts/ska-tango-base/templates/ingress.yaml
  charts/ska-tango-base/templates/itango.yaml
  charts/ska-tango-base/templates/jive.yaml
  charts/ska-tango-base/templates/logviewer.yaml
  charts/ska-tango-base/templates/tango-rest.yaml
  charts/ska-tango-base/templates/tangodb-pv.yaml
  charts/ska-tango-base/templates/tangodb.yaml
  charts/ska-tango-base/templates/vnc.yaml
  charts/ska-tango-base/values.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  charts/ska-tango-util/templates/_configuration.yaml
  charts/ska-tango-util/templates/_deviceserver.yaml
  charts/ska-tango-util/templates/_multidevice-config.yaml
  charts/ska-tango-util/templates/_multidevice-job.yaml
  charts/ska-tango-util/templates/_multidevice-sacc-role.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-811 fix makefile for new tango-base folder name
  charts/Makefile
Due: none

ST-811 fix
  charts/ska-tango-umbrella/Chart.yaml
Due: none
