Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

Path conditions:
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_tango-rest: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-rest/**/*
  build_pytango-builder: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*
  build_tango-pogo: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-pogo/**/*
  build_tango-libtango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*
  build_tango-jive: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-jive/**/*
  build_pytango-runtime: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*
  build_tango-admin: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-admin/**/*
  build_tango-databaseds: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-databaseds/**/*
  build_tango-test: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-test/**/*
  build_tango-dsconfig: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*, docker/tango/tango-dsconfig/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*, docker/tango/tango-itango/**/*
  build_tango-vnc: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-vnc/**/*
  build_tango-pytango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*, docker/tango/tango-pytango/**/*

Propagate SIGINT/SIGTERM to child processes
  docker/tango/tango-dependencies/retry.sh
Due: build_dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

version beta a for testing
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/tango-admin/.release
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/.release
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-java/.release
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-libtango/Dockerfile
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-rest/.release
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-test/.release
  docker/tango/tango-test/Dockerfile
  docker/tango/tango-vnc/.release
  docker/tango/tango-vnc/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

change tango-base tags
  charts/tango-base/values.yaml
Due: none

bump version chart tango-base
  charts/ska-tango-images/Chart.yaml
  charts/tango-base/Chart.yaml
Due: none

bump version semver
  charts/tango-base/values.yaml
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/tango-admin/.release
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/.release
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-java/.release
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-jive/.release
  docker/tango/tango-jive/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-libtango/Dockerfile
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pogo/.release
  docker/tango/tango-pogo/Dockerfile
  docker/tango/tango-pytango/.release
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-rest/.release
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-test/.release
  docker/tango/tango-test/Dockerfile
  docker/tango/tango-vnc/.release
  docker/tango/tango-vnc/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

revert and change semver
  charts/tango-base/values.yaml
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-runtime/.release
  docker/tango/tango-admin/.release
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/.release
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-itango/.release
  docker/tango/tango-java/.release
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-libtango/Dockerfile
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-rest/.release
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-test/.release
  docker/tango/tango-test/Dockerfile
  docker/tango/tango-vnc/.release
  docker/tango/tango-vnc/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

fix version for tango-dep
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-dependencies/.release
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-rest/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

more fixes
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-jive/.release
  docker/tango/tango-jive/Dockerfile
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pogo/.release
  docker/tango/tango-pogo/Dockerfile
Due: build_tango-pogo, build_tango-jive, build_pytango-runtime, build_tango-databaseds, build_tango-dsconfig, build_tango-itango, build_tango-pytango

tango-pytango version
  charts/tango-base/values.yaml
  docker/tango/tango-pytango/.release
Due: build_tango-pytango

fix version
  docker/tango/pytango-runtime/Dockerfile
Due: build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

Use consistent prefix in new function names
  docker/tango/tango-dependencies/retry.sh
Due: build_dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

bump version following change in retry
  charts/tango-base/values.yaml
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/tango-admin/.release
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/.release
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-java/.release
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-jive/.release
  docker/tango/tango-jive/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-libtango/Dockerfile
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pogo/.release
  docker/tango/tango-pogo/Dockerfile
  docker/tango/tango-pytango/.release
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-rest/.release
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-test/.release
  docker/tango/tango-test/Dockerfile
  docker/tango/tango-vnc/.release
  docker/tango/tango-vnc/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

change docker builder version
  .gitlab-ci.yml
Due: none

fix tango-dsconfig
  charts/tango-base/values.yaml
Due: none

bump tango-base version
  charts/ska-tango-images/Chart.yaml
  charts/tango-base/Chart.yaml
Due: none

ST-796 ref to branch
  .gitlab-ci.yml
Due: none

ST-796 new docker image
  .gitlab-ci.yml
Due: none

first commit
  charts/ska-tango-images/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-util/Chart.yaml
  charts/tango-util/templates/_multidevice-config.yaml
Due: none

itango version
  charts/Makefile
Due: none

ST-811 change images' version and migrate to new CAR
  .gitlab-ci.yml
  charts/Makefile
  charts/tango-base/values.yaml
  docker/make/Makefile.mk
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/pip.conf
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/pip.conf
  docker/tango/tango-admin/.release
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/.release
  docker/tango/tango-db/Dockerfile
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dependencies/Dockerfile
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-itango/.release
  docker/tango/tango-java/.release
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-pogo/.release
  docker/tango/tango-pogo/Dockerfile
  docker/tango/tango-pytango/.release
  docker/tango/tango-rest/.release
  post-deployment/SUT_requirements.txt
Due: build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

ST-811 car host url fix
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-pogo/Dockerfile
Due: build_tango-cpp, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 same fix, 2nd attempted
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-pogo/Dockerfile
Due: build_tango-cpp, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 update base images
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-db/Dockerfile
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-jive/Dockerfile
  docker/tango/tango-libtango/Dockerfile
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pogo/Dockerfile
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-test/Dockerfile
  docker/tango/tango-vnc/Dockerfile
Due: build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

chart image regestry fix & update charts' version
  charts/ska-tango-images/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-base/values.yaml
Due: none

ST-811 values.yml fix
  charts/Makefile
  charts/ska-tango-images/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-base/values.yaml
Due: none

ST-811 chart image regestry fix & update charts' version
  charts/ska-tango-images/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-base/values.yaml
Due: none

ST-811 version update
  charts/tango-base/values.yaml
Due: none

ST-811 change index-url for two pytango images so they use group variables
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-builder/pip.conf
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/pytango-runtime/pip.conf
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 set env also for user tango in pytango dockerfiles
  docker/tango/pytango-runtime/Dockerfile
Due: build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 add arg to docker build
  docker/make/Makefile.mk
Due: none

ST-811 push new pytango versions
  docker/tango/pytango-builder/.release
  docker/tango/pytango-runtime/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

add ska-* prefix to artifacts - 1st round
  docker/tango/tango-admin/.release
  docker/tango/tango-databaseds/.release
  docker/tango/tango-db/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-itango/.release
  docker/tango/tango-jive/.release
  docker/tango/tango-pogo/.release
  docker/tango/tango-pytango/.release
  docker/tango/tango-rest/.release
  docker/tango/tango-vnc/.release
Due: build_tango-db, build_tango-rest, build_tango-pogo, build_tango-jive, build_tango-admin, build_tango-databaseds, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

ST-811 add ska-* prefix to artifacts - 1st round
  docker/tango/tango-admin/.release
  docker/tango/tango-databaseds/.release
  docker/tango/tango-db/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-itango/.release
  docker/tango/tango-jive/.release
  docker/tango/tango-pogo/.release
  docker/tango/tango-pytango/.release
  docker/tango/tango-rest/.release
  docker/tango/tango-vnc/.release
Due: build_tango-db, build_tango-rest, build_tango-pogo, build_tango-jive, build_tango-admin, build_tango-databaseds, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

ST-811 rename pytango-builder image
  docker/tango/pytango-builder/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811: add ska-* prefix to artifacts - 1st round fix
  docker/tango/tango-admin/.release
  docker/tango/tango-databaseds/.release
  docker/tango/tango-db/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-itango/.release
  docker/tango/tango-pogo/.release
  docker/tango/tango-pytango/.release
  docker/tango/tango-rest/.release
  docker/tango/tango-vnc/.release
Due: build_tango-db, build_tango-rest, build_tango-pogo, build_tango-admin, build_tango-databaseds, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

ST-811 remove prefix from makefile
  docker/make/Makefile.mk
Due: none

ST-811 build new pytango-builder
  docker/tango/pytango-builder/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-811 fix dockerfile for pytango-runtime
  docker/make/Makefile.mk
  docker/tango/pytango-runtime/Dockerfile
Due: build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango
