Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dependencies, build_dependencies-alpine, build_tango-db, build_tango-db-alpine, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-java-alpine, build_tango-rest, build_tango-rest-alpine, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

build_dependencies:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_dependencies-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-db:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-db-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-cpp:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-cpp-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-java:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-java-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-rest:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-rest-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

[LOW-226] add docs
  docs/src/helm_charts.rst
Due: none

[LOW-226] fix remaining versions
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
Due: none

[LOW-226] address MR feedback on static pod
  charts/ska-tango-util/templates/_deviceserver-pvc.yaml
Due: none

ST-1276 deployment and generalization
  charts/ska-tango-util/templates/_deviceserver-pvc.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-1276 bump version
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
Due: none

ST-1276 fix helm build values.sh
  Makefile
Due: none

ST-1276 fix pre-build
  Makefile
Due: none

ST-1276 add storageclass
  charts/ska-tango-util/templates/_deviceserver-pvc.yaml
Due: none

ST-1276 add missing local
  charts/ska-tango-util/templates/_deviceserver-pvc.yaml
Due: none

ST-1304 fix pytest-bdd version
  tests/requirements.txt
Due: none

st-1304 change base image
  images/ska-tango-images-tango-db/Dockerfile
Due: build_tango-db

ST-1304 bump tangodb version
  images/ska-tango-images-tango-db/.release
Due: build_tango-db

ST-1304 fix namespace for admin pv
  charts/ska-tango-util/templates/_deviceserver-pvc.yaml
Due: none

ST-1304 itango-alpine version 11
  .gitlab-ci.yml
Due: none

ST-1304 add kube namespace
  .gitlab-ci.yml
Due: none

ST-1304 no failure alpine pipeline
  .gitlab-ci.yml
  tests/unit/test_tango-commands.py
Due: none

ST-1304 get version dynamically
  .gitlab-ci.yml
Due: none

ST-1304 remove delete all
  .gitlab-ci.yml
Due: none

st-1304 bump version before merging
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  tests/tango_values.yaml
Due: none

ST-1315: Link python3 to python
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-1315: Align names with images
  .gitlab-ci.yml
Due: none

ST-1315: Add pytango-alpine build jobs
  .gitlab-ci.yml
Due: none

ST-1315: Fix gitlab-ci errors
  .gitlab-ci.yml
Due: none

[LOW-298] add instance based resources
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-1252 fix pipeline
  tests/requirements.txt
  tests/unit/test_tango-commands.py
Due: none

ST-1252 improve readability
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

[LOW-298] bump patch version of tango-util and parents
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
Due: none

ST-1315: bumped version to 0.3.14
  .release
  images/ska-tango-images-pytango-builder-alpine/.release
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-1260: delete all dependencies except pytango
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

[LOW-298] bump .release to 0.3.14
  .release
Due: none

ST-1260: add no-deps variant for pytango-builder-alpine
  .gitlab-ci.yml
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
  images/ska-tango-images-pytango-builder-no-deps-alpine/.release
  images/ska-tango-images-pytango-builder-no-deps-alpine/Dockerfile
  images/ska-tango-images-pytango-builder-no-deps-alpine/pip.conf
  images/ska-tango-images-pytango-builder-no-deps-alpine/requirements.txt
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-1260: Ignore already installed packages
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

Revert --ignore-installed flag
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-1260: fix virtualenv as it breaks distlib with base package
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-1260: Update versions
  .release
  1.2.17.tar.gz
  images/ska-tango-images-pytango-builder-alpine/.release
  images/ska-tango-images-pytango-builder-no-deps-alpine/.release
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-1325: bumped version to 0.3.15
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  images/ska-tango-images-pytango-builder-alpine/.release
  images/ska-tango-images-pytango-runtime-alpine/.release
  images/ska-tango-images-tango-dsconfig-alpine/.release
  images/ska-tango-images-tango-itango-alpine/.release
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

Path conditions:
  build_dependencies: any of: images/ska-tango-images-tango-dependencies/*
  build_dependencies-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*
  build_tango-db: any of: images/ska-tango-images-tango-db/*
  build_tango-db-alpine: any of: images/ska-tango-images-tango-db-alpine/*
  build_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  build_tango-cpp-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-cpp-alpine/*
  build_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  build_tango-java-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-java-alpine/*
  build_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-rest/*
  build_tango-rest-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-java-alpine/*, images/ska-tango-images-tango-rest-alpine/*
  build_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  build_pytango-builder-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*
  build_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  build_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  build_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  build_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  build_pytango-runtime-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*
  build_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  build_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  build_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  build_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  build_tango-dsconfig-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-dsconfig-alpine/*
  build_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  build_tango-itango-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-itango-alpine/*
  build_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
  build_tango-pytango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  build_tango-panic: any of: images/ska-tango-images-tango-panic/*, images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  build_tango-panic-gui: any of: images/ska-tango-images-tango-panic-gui/*, images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
