Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-db, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

Path conditions:
  build_tango-dependencies: any of: images/ska-tango-images-tango-dependencies/*
  build_tango-db: any of: images/ska-tango-images-tango-db/*
  build_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  build_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  build_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-rest/*
  build_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  build_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  build_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  build_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  build_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  build_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  build_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  build_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  build_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  build_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  build_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
  build_tango-pytango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  scan_tango-dependencies: any of: images/ska-tango-images-tango-dependencies/*
  scan_tango-db: any of: images/ska-tango-images-tango-db/*
  scan_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  scan_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  scan_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-rest/*
  scan_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  scan_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  scan_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  scan_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  scan_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  scan_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  scan_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  scan_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  scan_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  scan_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  scan_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
  scan_tango-pytango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*

WOM-138: Bump versions
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  images/ska-tango-images-pytango-builder/.release
  images/ska-tango-images-pytango-runtime/.release
  images/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-itango/.release
  images/ska-tango-images-tango-pytango/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_pytango-builder, scan_pytango-runtime, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

[WOM-138] Update to pytango 9.5.0rc2
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  images/ska-tango-images-pytango-builder/.release
  images/ska-tango-images-pytango-builder/Dockerfile
  images/ska-tango-images-pytango-runtime/.release
  images/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-itango/.release
  images/ska-tango-images-tango-pytango/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_pytango-builder, scan_pytango-runtime, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

[WOM-138] Update to pytango 9.5.0rc3
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  images/ska-tango-images-pytango-builder/.release
  images/ska-tango-images-pytango-builder/Dockerfile
  images/ska-tango-images-pytango-runtime/.release
  images/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-itango/.release
  images/ska-tango-images-tango-pytango/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_pytango-builder, scan_pytango-runtime, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

ST-1809 use ClusterIP
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
  charts/ska-tango-util/templates/_operator-ds.yaml
Due: none

ST-1809 bump version
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
Due: none

ST-1809 revert for operator
  charts/ska-tango-util/templates/_operator-ds.yaml
Due: none

ST-1809 remove minikube from condition
  charts/ska-tango-util/templates/_operator-ds.yaml
Due: none

ST-1791 loadbalancer if minikube
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/tests/databaseds_test.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
  charts/ska-tango-util/templates/_operator-ds.yaml
Due: none

WOM-229 tango-dependencies: Update to omniORB 4.3.1
  images/ska-tango-images-tango-dependencies/Dockerfile
Due: build_tango-dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-229 tango-cpp: Update to cppTango 9.5.0
  images/ska-tango-images-tango-cpp/Dockerfile
Due: build_tango-cpp, build_pytango-builder, build_tango-libtango, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_tango-cpp, scan_pytango-builder, scan_tango-libtango, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

WOM-229 Update versions of C++ images
  images/ska-tango-images-tango-admin/.release
  images/ska-tango-images-tango-cpp/.release
  images/ska-tango-images-tango-databaseds/.release
  images/ska-tango-images-tango-dependencies/.release
  images/ska-tango-images-tango-test/.release
Due: build_tango-dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-229 pytango-builder: Update to pytango 9.5.0
  images/ska-tango-images-pytango-builder/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_pytango-builder, scan_pytango-runtime, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

WOM-229 tests: Remove reference to CmdArgType.DevInt
  tests/unit/test_tango-commands.py
Due: none

WOM-229 Update versions for python images
  images/ska-tango-images-pytango-builder/.release
  images/ska-tango-images-pytango-runtime/.release
  images/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-itango/.release
  images/ska-tango-images-tango-libtango/.release
  images/ska-tango-images-tango-pytango/.release
Due: build_pytango-builder, build_tango-libtango, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_pytango-builder, scan_tango-libtango, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

WOM-229 tango-cpp: Remove TANGO_<X>_BASE variables
  images/ska-tango-images-tango-cpp/Dockerfile
Due: build_tango-cpp, build_pytango-builder, build_tango-libtango, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_tango-cpp, scan_pytango-builder, scan_tango-libtango, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

WOM-229 tango-java: Update to TangoSourceDistribution 9.5.0
  images/ska-tango-images-tango-java/Dockerfile
Due: build_tango-java, build_tango-rest, build_tango-pogo, build_tango-jive, build_tango-vnc, scan_tango-java, scan_tango-rest, scan_tango-pogo, scan_tango-jive, scan_tango-vnc

WOM-229 Bump chart versions
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
Due: none

WOM-229 Update version for Java images
  images/ska-tango-images-tango-java/.release
  images/ska-tango-images-tango-jive/.release
  images/ska-tango-images-tango-pogo/.release
  images/ska-tango-images-tango-rest/.release
  images/ska-tango-images-tango-vnc/.release
Due: build_tango-java, build_tango-rest, build_tango-pogo, build_tango-jive, build_tango-vnc, scan_tango-java, scan_tango-rest, scan_tango-pogo, scan_tango-jive, scan_tango-vnc

WOM-229 tango-java: Install tango_admin 1.17
  images/ska-tango-images-tango-java/Dockerfile
Due: build_tango-java, build_tango-rest, build_tango-pogo, build_tango-jive, build_tango-vnc, scan_tango-java, scan_tango-rest, scan_tango-pogo, scan_tango-jive, scan_tango-vnc

Debug
  images/ska-tango-images-tango-java/.release
Due: build_tango-java, build_tango-rest, build_tango-pogo, build_tango-jive, build_tango-vnc, scan_tango-java, scan_tango-rest, scan_tango-pogo, scan_tango-jive, scan_tango-vnc

WOM-229 Makefile: Always pull images in CI
  Makefile
Due: none

WOM-229 Makefile: Use commit tags for CI
  Makefile
Due: none

WOM-229 Makefile: Use commit tags for images in the CI
  Makefile
Due: none

WOM-229 Test against ska-tango-examples branch
  .gitlab-ci.yml
Due: none

ST-1234 pytango debug test
  charts/ska-tango-util/templates/_entrypoints-script.yml
Due: none

STS-514: Testing stuff
  images/ska-tango-images-tango-db/Dockerfile
Due: build_tango-db, scan_tango-db

KAR-877 Update to pytango v9.5.1rc1
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  images/ska-tango-images-pytango-builder/.release
  images/ska-tango-images-pytango-builder/Dockerfile
  images/ska-tango-images-pytango-runtime/.release
  images/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-itango/.release
  images/ska-tango-images-tango-pytango/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_pytango-builder, scan_pytango-runtime, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

ST-1834: Test container scanning
  .gitlab-ci.yml
Due: none

ST-1934: Removed test devices by default
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-base/templates/deviceservers.yaml
  charts/ska-tango-base/values.yaml.sh
Due: none

ST-1934: Changed pv prefix for minikube pvs
  Makefile
  charts/ska-tango-base/templates/_helpers.tpl
  charts/ska-tango-base/templates/deviceservers.yaml
  charts/ska-tango-base/templates/tangodb-pv.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-umbrella/values.yaml
Due: none
