Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dependencies, build_dependencies-alpine, build_tango-db, build_tango-db-alpine, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-java-alpine, build_tango-rest, build_tango-rest-alpine, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

build_dependencies:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_dependencies-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-db:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-db-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-cpp:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-cpp-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-java:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-java-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-rest:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-rest-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

ST-1065: Add annonations to allow the vault injector to add the secrets as export commands. Update .make submodule.
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/tangodb.yaml
  charts/ska-tango-base/tests/databaseds_test.yaml
Due: none

ST-1065: Change contrainer command.
  charts/ska-tango-base/templates/databaseds.yaml
Due: none

ST-1065: Update helm unittest.
  charts/ska-tango-base/tests/databaseds_test.yaml
Due: none

ST-1065: Update annotations.
  charts/ska-tango-base/templates/databaseds.yaml
Due: none

ST-1065: Add vault support to tango-base db containers
  charts/README.md
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/tangodb.yaml
  charts/ska-tango-base/tests/databaseds_test.yaml
  charts/ska-tango-base/values.yaml.sh
Due: none

Update alpine images to 3.15
  images/ska-tango-images-tango-cpp-alpine/Dockerfile
  images/ska-tango-images-tango-db-alpine/Dockerfile
  images/ska-tango-images-tango-dependencies-alpine/Dockerfile
  images/ska-tango-images-tango-rest-alpine/Dockerfile
Due: build_dependencies-alpine, build_tango-db-alpine, build_tango-cpp-alpine, build_tango-java-alpine, build_tango-rest-alpine, build_pytango-builder-alpine, build_pytango-runtime-alpine

ST-1229: Update itango image to version 9.3.9 for testing
  .gitlab-ci.yml
  Makefile
Due: none

ST-1065: Fix secret path.
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/tangodb.yaml
Due: none

ST-1065: Add comments in the chart and a new section in the readme
  charts/README.md
  charts/ska-tango-base/templates/tangodb.yaml
Due: none

ST-1065: Fix comment
  charts/ska-tango-base/templates/tangodb.yaml
Due: none

ST-1065: Fix typos
  charts/ska-tango-base/templates/tangodb.yaml
Due: none

ST-1229: bumped version to 0.3.11
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  images/ska-tango-images-pytango-builder-alpine/.release
  images/ska-tango-images-pytango-runtime-alpine/.release
  images/ska-tango-images-tango-cpp-alpine/.release
  images/ska-tango-images-tango-db-alpine/.release
  images/ska-tango-images-tango-dependencies-alpine/.release
  images/ska-tango-images-tango-dsconfig-alpine/.release
  images/ska-tango-images-tango-itango-alpine/.release
  images/ska-tango-images-tango-java-alpine/.release
  images/ska-tango-images-tango-pytango-alpine/.release
  images/ska-tango-images-tango-rest-alpine/.release
Due: build_dependencies-alpine, build_tango-db-alpine, build_tango-cpp-alpine, build_tango-java-alpine, build_tango-rest-alpine, build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-1229: Bump chart version
  charts/ska-tango-umbrella/Chart.yaml
Due: none

ST-1229: bumped version to 0.3.11
  images/ska-tango-images-pytango-builder-alpine/.release
  images/ska-tango-images-pytango-runtime-alpine/.release
  images/ska-tango-images-tango-cpp-alpine/.release
  images/ska-tango-images-tango-db-alpine/.release
  images/ska-tango-images-tango-dependencies-alpine/.release
  images/ska-tango-images-tango-dsconfig-alpine/.release
  images/ska-tango-images-tango-itango-alpine/.release
  images/ska-tango-images-tango-java-alpine/.release
  images/ska-tango-images-tango-pytango-alpine/.release
  images/ska-tango-images-tango-rest-alpine/.release
Due: build_dependencies-alpine, build_tango-db-alpine, build_tango-cpp-alpine, build_tango-java-alpine, build_tango-rest-alpine, build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-1065: Fix template
  charts/ska-tango-base/templates/tangodb.yaml
Due: none

ST-1297 bump pytango
  .release
  images/ska-tango-images-pytango-builder-alpine/.release
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
  images/ska-tango-images-pytango-builder/.release
  images/ska-tango-images-pytango-builder/Dockerfile
  images/ska-tango-images-pytango-builder/requirements.txt
  images/ska-tango-images-pytango-runtime-alpine/.release
  images/ska-tango-images-pytango-runtime/.release
  images/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-itango/.release
  images/ska-tango-images-tango-pytango-alpine/.release
  images/ska-tango-images-tango-pytango/.release
Due: build_pytango-builder, build_pytango-builder-alpine, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1297 numpy 1.21.1
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
  images/ska-tango-images-pytango-builder/Dockerfile
  images/ska-tango-images-pytango-builder/requirements.txt
Due: build_pytango-builder, build_pytango-builder-alpine, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1297 no need to numpy
  images/ska-tango-images-tango-itango-alpine/requirements.txt
  images/ska-tango-images-tango-itango/requirements.txt
Due: build_tango-itango, build_tango-itango-alpine

ST-1297 fix itango console version
  charts/ska-tango-base/values.yaml.sh
Due: none

[LOW-226] add volume to deviceservers
  charts/ska-tango-util/templates/_deviceserver_pvc.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

[LOW-226] fix after running aginst tango-examples
  charts/ska-tango-util/templates/_deviceserver-pvc.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

[LOW-226] bump chart version
  charts/ska-tango-util/Chart.yaml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  charts/ska-tango-util/templates/_deviceserver-pvc.yaml
Due: none

Path conditions:
  build_dependencies: any of: images/ska-tango-images-tango-dependencies/*
  build_dependencies-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*
  build_tango-db: any of: images/ska-tango-images-tango-db/*
  build_tango-db-alpine: any of: images/ska-tango-images-tango-db-alpine/*
  build_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  build_tango-cpp-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-cpp-alpine/*
  build_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  build_tango-java-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-java-alpine/*
  build_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-rest/*
  build_tango-rest-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-java-alpine/*, images/ska-tango-images-tango-rest-alpine/*
  build_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  build_pytango-builder-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*
  build_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  build_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  build_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  build_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  build_pytango-runtime-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*
  build_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  build_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  build_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  build_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  build_tango-dsconfig-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-dsconfig-alpine/*
  build_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  build_tango-itango-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-itango-alpine/*
  build_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
  build_tango-pytango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  build_tango-panic: any of: images/ska-tango-images-tango-panic/*, images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  build_tango-panic-gui: any of: images/ska-tango-images-tango-panic-gui/*, images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
