Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dependencies, build_dependencies-alpine, build_tango-db, build_tango-db-alpine, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-java-alpine, build_tango-rest, build_tango-rest-alpine, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

Path conditions:
  build_dependencies: any of: images/ska-tango-images-tango-dependencies/*
  build_dependencies-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*
  build_tango-db: any of: images/ska-tango-images-tango-db/*
  build_tango-db-alpine: any of: images/ska-tango-images-tango-db-alpine/*
  build_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  build_tango-cpp-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-cpp-alpine/*
  build_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  build_tango-java-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-java-alpine/*
  build_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-rest/*
  build_tango-rest-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-java-alpine/*, images/ska-tango-images-tango-rest-alpine/*
  build_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  build_pytango-builder-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*
  build_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  build_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  build_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  build_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  build_pytango-runtime-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*
  build_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  build_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  build_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  build_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  build_tango-dsconfig-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-dsconfig-alpine/*
  build_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  build_tango-itango-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-itango-alpine/*
  build_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
  build_tango-pytango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  build_tango-panic: any of: images/ska-tango-images-tango-panic/*, images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  build_tango-panic-gui: any of: images/ska-tango-images-tango-panic-gui/*, images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*

ROAM-297: use packaged setuptools and wheel
  images/ska-tango-images-pytango-builder/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ROAM-297: use merged releae candidate 9.3.5-rc1
  images/ska-tango-images-tango-cpp-alpine/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
Due: build_tango-cpp, build_tango-cpp-alpine, build_pytango-builder, build_pytango-builder-alpine, build_tango-libtango, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ROAM-297: pin tango-simlib because of pathlib break
  images/ska-tango-images-tango-itango/requirements.txt
Due: build_tango-itango

ST-1174 bump patch version
  Makefile
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  images/ska-tango-images-pytango-builder-alpine/.release
  images/ska-tango-images-pytango-builder/.release
  images/ska-tango-images-pytango-runtime-alpine/.release
  images/ska-tango-images-pytango-runtime/.release
  images/ska-tango-images-tango-admin/.release
  images/ska-tango-images-tango-cpp-alpine/.release
  images/ska-tango-images-tango-cpp/.release
  images/ska-tango-images-tango-databaseds/.release
  images/ska-tango-images-tango-db-alpine/.release
  images/ska-tango-images-tango-db/.release
  images/ska-tango-images-tango-dependencies-alpine/.release
  images/ska-tango-images-tango-dependencies/.release
  images/ska-tango-images-tango-dsconfig-alpine/.release
  images/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-itango-alpine/.release
  images/ska-tango-images-tango-itango/.release
  images/ska-tango-images-tango-java-alpine/.release
  images/ska-tango-images-tango-java/.release
  images/ska-tango-images-tango-jive/.release
  images/ska-tango-images-tango-libtango/.release
  images/ska-tango-images-tango-panic-gui/.release
  images/ska-tango-images-tango-panic/.release
  images/ska-tango-images-tango-pogo/.release
  images/ska-tango-images-tango-pytango-alpine/.release
  images/ska-tango-images-tango-pytango/.release
  images/ska-tango-images-tango-rest-alpine/.release
  images/ska-tango-images-tango-rest/.release
  images/ska-tango-images-tango-test/.release
  images/ska-tango-images-tango-vnc/.release
Due: build_dependencies, build_dependencies-alpine, build_tango-db, build_tango-db-alpine, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-java-alpine, build_tango-rest, build_tango-rest-alpine, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1174 set gitlab registry
  .gitlab-ci.yml
Due: none

ST-1174 correct version according to CAR
  images/ska-tango-images-pytango-builder/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

bumped version to 0.3.8
  .release
Due: none

add change log
  CHANGELOG.md
Due: none

ST-1157: add oci scanning job
  .gitlab-ci.yml
Due: none

ST-1157: parallel scanning jobs
  .gitlab-ci.yml
Due: none

ST-1157: use reference for rules
  .gitlab-ci.yml
Due: none

ST-1157: fix reference name
  .gitlab-ci.yml
Due: none

ST-1157: change file for testing
  images/ska-tango-images-pytango-builder/requirements.txt
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1157: pass context_dir
  .gitlab-ci.yml
Due: none

ST-1157: trigger alpine builds
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-1157: include and override scan job
  .gitlab-ci.yml
Due: none

Configure Container Scanning in `.gitlab-ci.yml`, creating this file if it does not already exist
  .gitlab-ci.yml
Due: none

ST-1157: revert changes to test builds and update make target
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
  images/ska-tango-images-pytango-builder/requirements.txt
Due: build_pytango-builder, build_pytango-builder-alpine, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1157: trying to make the job pass
  .gitlab-ci.yml
Due: none

ST-1201 fix db alpine
  images/ska-tango-images-tango-db-alpine/Dockerfile
  images/ska-tango-images-tango-db-alpine/run.sh
  images/ska-tango-images-tango-db-alpine/sql_mode.cnf
Due: build_tango-db-alpine

ST-1201 revert unwanted cuts in the db alpine dockerfile
  images/ska-tango-images-tango-db-alpine/Dockerfile
Due: build_tango-db-alpine

ST-1201 allow test with dp-alpine
  charts/ska-tango-base/values.yaml.sh
Due: none

ST-1201 update omniorb version
  images/ska-tango-images-tango-dependencies-alpine/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
Due: build_dependencies, build_dependencies-alpine, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-java-alpine, build_tango-rest, build_tango-rest-alpine, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1201 change from rc1 to final
  images/ska-tango-images-tango-cpp-alpine/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-dependencies-alpine/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
Due: build_dependencies, build_dependencies-alpine, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-java-alpine, build_tango-rest, build_tango-rest-alpine, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1201 redo dependencies for debian
  images/ska-tango-images-pytango-builder/.release
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1201 redo dependencies for debian
  images/ska-tango-images-tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1201 remove alpine db from test
  charts/ska-tango-base/values.yaml.sh
Due: none

ST-1212 remove external suffix
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-1212 fix template test
  charts/ska-tango-base/tests/databaseds_test.yaml
Due: none

ST-1201: bumped version to 0.3.9
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  images/ska-tango-images-pytango-builder-alpine/.release
  images/ska-tango-images-pytango-builder/.release
  images/ska-tango-images-pytango-runtime-alpine/.release
  images/ska-tango-images-pytango-runtime/.release
  images/ska-tango-images-tango-cpp-alpine/.release
  images/ska-tango-images-tango-cpp/.release
  images/ska-tango-images-tango-db-alpine/.release
  images/ska-tango-images-tango-db/.release
  images/ska-tango-images-tango-dependencies-alpine/.release
  images/ska-tango-images-tango-dependencies/.release
  images/ska-tango-images-tango-dsconfig-alpine/.release
  images/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-itango-alpine/.release
  images/ska-tango-images-tango-itango/.release
Due: build_dependencies, build_dependencies-alpine, build_tango-db, build_tango-db-alpine, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-java-alpine, build_tango-rest, build_tango-rest-alpine, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-vnc, build_tango-pytango, build_tango-panic, build_tango-panic-gui

ST-1201 use db-alpine for tests
  charts/ska-tango-base/values.yaml.sh
Due: none

ST-1201 fix contextdir for db-alpine in tests
  charts/ska-tango-base/values.yaml.sh
Due: none

ST-1212 bump builder alpine
  images/ska-tango-images-pytango-builder-alpine/.release
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-1212 bump main release file
  .release
Due: none

ST-1161 deploy-integration jobs
  .gitlab-ci.yml
Due: none

ST-1161 set tango host
  .gitlab-ci.yml
Due: none

ST-1161 update test job
  .gitlab-ci.yml
Due: none

ST-1161 fix alpine version
  .gitlab-ci.yml
Due: none

ST-1065: Fix secret path.
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/tangodb.yaml
Due: none
