Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dependencies, build_dependencies-alpine, build_tango-db, build_tango-db-alpine, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-rest, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-vnc

build_dependencies:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_dependencies-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-db:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-db-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-cpp:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-cpp-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-java:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-rest:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_pytango-builder:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_pytango-builder-alpine:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci.mk:oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

ST-974 Fixed the probes' ping commands to execute successfully
  charts/ska-tango-base/tests/deviceservers_test.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-974 Removed the command generated from the entrypoint tag Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  charts/ska-tango-base/tests/deviceservers_test.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-974 Commented out the duplicated 'global' key Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  charts/ska-tango-base/values.yaml.sh
Due: none

ST-974 Fixed the pipeline for the failing docs-pages job Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  Makefile
Due: none

ST-974 Handle undefined annotations tag in values.yaml file Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/ingress.yaml
  charts/ska-tango-base/templates/itango.yaml
  charts/ska-tango-base/templates/jive.yaml
  charts/ska-tango-base/templates/logviewer.yaml
  charts/ska-tango-base/templates/tango-rest.yaml
  charts/ska-tango-base/templates/tangodb-pv.yaml
  charts/ska-tango-base/templates/tangodb.yaml
  charts/ska-tango-base/templates/vnc.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-908: update .make
  .gitlab-ci.yml
  Makefile
  charts/ska-tango-base/values.yaml.sh
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/templates/_configuration.yaml
  charts/ska-tango-util/templates/_multidevice-job.yaml
  images/ska-tango-images-pytango-builder-alpine/requirements.txt
  images/ska-tango-images-pytango-builder/requirements.txt
Due: build_pytango-builder, build_pytango-builder-alpine, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine

ST-908: first attempt at switching tests to .make/k8s.mk
  Makefile
  charts/ska-tango-base/values.yaml.sh
  images/ska-tango-images-tango-db-alpine/Dockerfile
  images/ska-tango-images-tango-db/Dockerfile
  tests/Makefile
  tests/SUT_requirements.txt
  tests/features/archiver.feature
  tests/features/tango-commands.feature
  tests/features/tango-db.feature
  tests/features/tango_tools.feature
  tests/post-deployment/.gitignore
  tests/post-deployment/Makefile
  tests/pytest.ini
  tests/requirements.txt
  tests/resources/_old/Makefile
  tests/resources/_old/script.exp
  tests/resources/_old/test-tango-admin.sh
  tests/resources/_old/test_archiver.py
  tests/resources/_old/test_device_running.py
  tests/resources/test_support/fixtures.py
  tests/setup.cfg
  tests/unit/__test_archiver.py
  tests/unit/__test_tango-commands.py
  tests/unit/__test_tango_tools.py
  tests/unit/conftest.py
  tests/unit/test_tango-db.py
Due: build_tango-db, build_tango-db-alpine

ST-908: missing ffi for alpine
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-908: fix missing ffi for alpine build
  Makefile
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-908: build-dependencies is virtual
  Makefile
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
  tests/Makefile
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-974 Bumped up the helm chart versions Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
Due: none

ST-970 update alpines
  images/ska-tango-images-tango-db-alpine/Dockerfile
  images/ska-tango-images-tango-db-alpine/run.sh
  images/ska-tango-images-tango-db/Dockerfile
Due: build_tango-db, build_tango-db-alpine

ST-970 update alpine images
  .gitignore
  Makefile
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
  images/ska-tango-images-pytango-runtime-alpine/Dockerfile
  images/ska-tango-images-tango-cpp-alpine/Dockerfile
  images/ska-tango-images-tango-dependencies-alpine/Dockerfile
  images/ska-tango-images-tango-java-alpine/Dockerfile
  images/ska-tango-images-tango-rest-alpine/.release
  images/ska-tango-images-tango-rest-alpine/Dockerfile
  images/ska-tango-images-tango-rest-alpine/supervisord.conf
  images/ska-tango-images-tango-rest-alpine/tango_register_device.sh
Due: build_dependencies-alpine, build_tango-cpp-alpine, build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-970: enable tests
  tests/post-deployment/features/tango_tools.feature
  tests/post-deployment/tests/test_tango_tools.py
Due: none

ST-970: remove wrong folder
  images/ska-tango-images-tango-dsconfig-alpine/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-dsconfig-alpine/ska-tango-images-tango-dsconfig/Dockerfile
Due: none

ST-970: db-alpine should be built after cpp-alpine
  .gitlab-ci.yml
  images/ska-tango-images-tango-db-alpine/Dockerfile
Due: build_tango-db-alpine

ST-970 update alpine images
  images/ska-tango-images-tango-java-alpine/Dockerfile
Due: none

ST-970 fix pipeline for db-alpine
  .gitlab-ci.yml
Due: none

ST-970 fix tangodb
  images/ska-tango-images-tango-db-alpine/Dockerfile
  images/ska-tango-images-tango-java-alpine/Dockerfile
Due: build_tango-db-alpine

ST-970 fix db
  images/ska-tango-images-tango-db-alpine/Dockerfile
  images/ska-tango-images-tango-java-alpine/Dockerfile
Due: build_tango-db-alpine

ST-970 fix runtime-alpine image
  images/ska-tango-images-pytango-runtime-alpine/Dockerfile
Due: build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-976 Added tests for the tangodb component Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  tests/post-deployment/tests/test_tangodb.py
Due: none

ST-970 fix runtime-alpine image
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-970 fix the runtime
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
  images/ska-tango-images-pytango-runtime-alpine/Dockerfile
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-970 fix runtime
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
  images/ska-tango-images-pytango-runtime-alpine/Dockerfile
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

st-976 refactoring of the tests Co-authored-by: Katleho Madisa <katleho.madisa47@gmail.com>
  tests/post-deployment/tests/test_tangodb.py
Due: none

ST-976 Refactored the tests to make use of a mysql_cursor fixture Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  tests/post-deployment/tests/test_tangodb.py
Due: none

ST-970 add pythonpath to itango-alpine
  images/ska-tango-images-tango-itango-alpine/Dockerfile
Due: build_tango-itango-alpine

ST-970 remove importlib from itango requirements
  images/ska-tango-images-tango-itango-alpine/requirements.txt
Due: build_tango-itango-alpine

ST-970 add python3-dev to runtime
  images/ska-tango-images-pytango-runtime-alpine/Dockerfile
  images/ska-tango-images-tango-itango-alpine/requirements.txt
Due: build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-970 add tango-rest-alpine
  .gitlab-ci.yml
Due: none

ST-970 add python to java-alpine
  images/ska-tango-images-tango-java-alpine/Dockerfile
Due: none

ST-970 add gnu tar to tigango-alpine
  images/ska-tango-images-tango-itango-alpine/Dockerfile
Due: build_tango-itango-alpine

ST-970 try try again
  images/ska-tango-images-tango-java-alpine/Dockerfile
Due: none

bumped version to 0.3.1
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-util/Chart.yaml
Due: none

ST-908: first attempt at switching tests to .make/k8s.mk
  Makefile
  charts/ska-tango-base/values.yaml.sh
  images/ska-tango-images-tango-db-alpine/Dockerfile
  images/ska-tango-images-tango-db/Dockerfile
  tests/Makefile
  tests/SUT_requirements.txt
  tests/features/archiver.feature
  tests/features/tango-commands.feature
  tests/features/tango-db.feature
  tests/features/tango_tools.feature
  tests/post-deployment/.gitignore
  tests/post-deployment/Makefile
  tests/pytest.ini
  tests/requirements.txt
  tests/resources/_old/Makefile
  tests/resources/_old/script.exp
  tests/resources/_old/test-tango-admin.sh
  tests/resources/_old/test_archiver.py
  tests/resources/_old/test_device_running.py
  tests/resources/test_support/fixtures.py
  tests/setup.cfg
  tests/unit/__test_archiver.py
  tests/unit/__test_tango-commands.py
  tests/unit/conftest.py
  tests/unit/test_tango-db.py
  tests/unit/test_tango_tools.py
Due: build_tango-db, build_tango-db-alpine

Path conditions:
  build_dependencies: any of: images/ska-tango-images-tango-dependencies/*
  build_dependencies-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*
  build_tango-db: any of: images/ska-tango-images-tango-db/*
  build_tango-db-alpine: any of: images/ska-tango-images-tango-db-alpine/*
  build_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  build_tango-cpp-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-cpp-alpine/*
  build_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  build_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-rest/*
  build_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  build_pytango-builder-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*
  build_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  build_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  build_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  build_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  build_pytango-runtime-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*
  build_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  build_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  build_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  build_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  build_tango-dsconfig-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-dsconfig-alpine/*
  build_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  build_tango-itango-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-itango-alpine/*
  build_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
