Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-builder, build_deploy_image, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_tango-dsconfig, build_ska-python-buildenv, build_tango-pogo, build_tango-starter, build_tango-libtango, build_tango-jive, build_ska-python-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-itango, build_tango-vscode, build_tango-vnc, build_tango-pytango, build_tango-archiver, build_mariadb_hdbpp, build_hdbpp_viewer

Path conditions:
  build_tango-builder: any of: docker/tango/tango-builder/**/*
  build_deploy_image: any of: docker/deploy/**/*
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_tango-rest: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-rest/**/*
  build_tango-dsconfig: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-dsconfig/**/*
  build_ska-python-buildenv: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*
  build_tango-pogo: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-pogo/**/*
  build_tango-starter: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-starter/**/*
  build_tango-libtango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*
  build_tango-jive: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-jive/**/*
  build_ska-python-runtime: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*
  build_tango-admin: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-admin/**/*
  build_tango-databaseds: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-databaseds/**/*
  build_tango-test: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-test/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*, docker/tango/tango-itango/**/*
  build_tango-vscode: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*, docker/tango/tango-vscode/**/*
  build_tango-vnc: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-vnc/**/*
  build_tango-pytango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*, docker/tango/tango-pytango/**/*
  build_tango-archiver: any of: docker/tango/tango-archiver/**/*
  build_mariadb_hdbpp: any of: docker/tango/tango-archiver/**/*, docker/tango/hdbpp_viewer/**/*, docker/tango/mariadb_hdbpp/**/*
  build_hdbpp_viewer: any of: docker/tango/tango-archiver/**/*, docker/tango/hdbpp_viewer/**/*, docker/tango/mariadb_hdbpp/**/*

increase timeout
  charts/Makefile
Due: none

quick and dirty
  charts/archiver/values.yaml
  charts/tango-util/templates/_deviceserver.yaml
Due: none

fix typo
  charts/tango-util/templates/_deviceserver.yaml
Due: none

remove not used section
  charts/archiver/values.yaml
Due: none

version change
  charts/archiver/Chart.yaml
  charts/ska-docker/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-util/Chart.yaml
Due: none

Add retry
  charts/Makefile
  charts/archiver/Chart.yaml
  charts/archiver/values.yaml
  charts/ska-docker/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-util/Chart.yaml
  charts/tango-util/templates/_deviceserver.yaml
Due: none

ST-569 ingress update
  charts/tango-base/templates/ingress.yaml
Due: none

Update the dockerfile to include the latest released versions of the HDB++ packages.
  docker/tango/tango-archiver/Dockerfile
Due: build_tango-archiver, build_mariadb_hdbpp, build_hdbpp_viewer

AT1-709: Add function to start archiving in configure_hdbpp script.
  charts/archiver/data/configure_hdbpp.py
Due: none

add test for st-565
  .gitlab-ci.yml
Due: none

AT1-709: Resolve review comments.
  charts/archiver/data/configure_hdbpp.py
Due: none

ST-562 added nginx ingress
  charts/tango-base/templates/ingress.yaml
  charts/tango-base/values.yaml
Due: none

ST-562 remove hostname
  charts/tango-base/templates/ingress.yaml
Due: none

AT1-709: Resolve review comment- Address pylint warnings.
  charts/archiver/data/configure_hdbpp.py
Due: none

ST-562 update ingresses
  charts/tango-base/templates/ingress.yaml
Due: none

update makefile
  charts/Makefile
Due: none

ST-562 update versions
  charts/ska-docker/Chart.yaml
  charts/tango-base/Chart.yaml
Due: none

[MCCS-331] update to pytango 9.3.3
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/requirements.txt
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pytango/.release
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-pytango

Revert "[MCCS-331] update to pytango 9.3.3"
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/requirements.txt
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pytango/.release
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-pytango

[MCCS-331] pytango 9.3.3 has extra dependencies
  docker/tango/tango-dsconfig/Dockerfile
Due: build_tango-dsconfig

[MCCS-331] Update to cppTango 9.3.4 final release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-admin/.release
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-archiver/.release
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/.release
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-libtango/Dockerfile
  docker/tango/tango-starter/.release
  docker/tango/tango-starter/Dockerfile
  docker/tango/tango-test/.release
  docker/tango/tango-test/Dockerfile
Due: build_tango-cpp, build_tango-rest, build_tango-dsconfig, build_ska-python-buildenv, build_tango-starter, build_tango-libtango, build_ska-python-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-itango, build_tango-vscode, build_tango-pytango, build_tango-archiver, build_mariadb_hdbpp, build_hdbpp_viewer

[MCCS-331] Use python-runtime for dsconfig
  .gitlab-ci.yml
  README.md
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-dsconfig/json2tango
  docker/tango/tango-dsconfig/pip.conf
Due: build_tango-dsconfig

[MCCS-331] Update charts to use newest Docker images
  charts/archiver/values.yaml
  charts/tango-base/values.yaml
Due: none

[MCCS-331] Move dsconfig to CI stage build_5
  .gitlab-ci.yml
Due: none

[MCCS-331] Tick all PyTango-related image tags
  charts/archiver/values.yaml
  charts/tango-base/values.yaml
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pytango/.release
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-pytango

[MCCS-331] Update Chart.yaml versions
  README.md
  charts/archiver/Chart.yaml
  charts/ska-docker/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-util/Chart.yaml
Due: none

[MCCS-331] Increase chart wait timeout to 900s
  charts/Makefile
Due: none

change to nginx
  charts/tango-base/values.yaml
Due: none

[MCCS-331] Fix dsconfig workdir and remove json2tango wrapper
  charts/archiver/values.yaml
  charts/tango-base/values.yaml
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-dsconfig/json2tango
Due: build_tango-dsconfig

[MCCS-331] pytango 9.3.3 has extra dependencies
  .gitlab-ci.yml
  README.md
  charts/Makefile
  charts/archiver/Chart.yaml
  charts/archiver/values.yaml
  charts/ska-docker/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-base/values.yaml
  charts/tango-util/Chart.yaml
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/requirements.txt
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-admin/.release
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-archiver/.release
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/.release
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-dsconfig/json2tango
  docker/tango/tango-dsconfig/pip.conf
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-libtango/Dockerfile
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pytango/.release
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-starter/.release
  docker/tango/tango-starter/Dockerfile
  docker/tango/tango-test/.release
  docker/tango/tango-test/Dockerfile
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-cpp, build_tango-rest, build_tango-dsconfig, build_ska-python-buildenv, build_tango-starter, build_tango-libtango, build_ska-python-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-itango, build_tango-vscode, build_tango-pytango, build_tango-archiver, build_mariadb_hdbpp, build_hdbpp_viewer

new versions
  charts/ska-docker/Chart.yaml
  charts/tango-base/Chart.yaml
Due: none

first commit
  charts/tango-util/templates/_configuration.yaml
  charts/tango-util/templates/_deviceserver.yaml
Due: none

version and test fix
  charts/ska-docker/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-util/Chart.yaml
  charts/tango-util/templates/_configuration.yaml
  charts/tango-util/templates/_deviceserver.yaml
Due: none

delete Dzianis from reviewers for MRs
  CODEOWNERS
Due: none

ST-625: fix version
  charts/ska-docker/Chart.yaml
Due: none
