Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-db, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

build_tango-dependencies:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - aws-k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-db:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - aws-k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-cpp:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - aws-k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-java:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - aws-k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-rest:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - aws-k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_pytango-builder:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - aws-k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-pogo:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - aws-k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-libtango:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - aws-k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_tango-jive:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - aws-k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

build_pytango-runtime:
  image: $SKA_K8S_TOOLS_DEPLOY_IMAGE
  retry: 2
  tags:
  - aws-k8srunner
  before_script:
  - '[ -f .make/oci.mk ] || exit 1'
  - make help | grep oci-build
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  ...

WOM-459: Update java applications
  images/ska-tango-images-tango-java/Dockerfile
  images/ska-tango-images-tango-jive/Dockerfile
  images/ska-tango-images-tango-pogo/Dockerfile
  images/ska-tango-images-tango-rest/Dockerfile
Due: build_tango-java, build_tango-rest, build_tango-pogo, build_tango-jive, build_tango-vnc, scan_tango-java, scan_tango-rest, scan_tango-pogo, scan_tango-jive, scan_tango-vnc

WOM-459: Geneate .gitlab-ci.yml from Dockerfiles
  Makefile
  README.md
  scripts/gen-gitlab-ci.sh
  scripts/gitlab-ci.yml.head
Due: none

WOM-459: Rename pytango-runtime to tango-python
  .gitlab-ci.yml
  README.md
  images/ska-tango-images-pytango-runtime/.release
  images/ska-tango-images-tango-dsconfig/Dockerfile
  images/ska-tango-images-tango-itango/Dockerfile
  images/ska-tango-images-tango-python/.release
  images/ska-tango-images-tango-python/Dockerfile
Due: build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_pytango-runtime, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

WOM-459: Update base images
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
  images/ska-tango-images-tango-dsconfig/Dockerfile
  images/ska-tango-images-tango-itango/Dockerfile
  images/ska-tango-images-tango-java/Dockerfile
  images/ska-tango-images-tango-python/Dockerfile
Due: build_tango-dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-459: Prefer cmake --build to make
  images/ska-tango-images-tango-admin/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-databaseds/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
  images/ska-tango-images-tango-java/Dockerfile
Due: build_tango-dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-459: Add tests for extra requirements
  tests/test_basics.py
Due: none

WOM-459: Prefer artefact.skao.int over harbor
  images/ska-tango-images-tango-base/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
  images/ska-tango-images-tango-dsconfig/Dockerfile
  images/ska-tango-images-tango-itango/Dockerfile
  images/ska-tango-images-tango-java/Dockerfile
  images/ska-tango-images-tango-python/Dockerfile
Due: build_tango-dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-459: Re-add license labels to images
  images/ska-tango-images-tango-admin/Dockerfile
  images/ska-tango-images-tango-base/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-databaseds/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
  images/ska-tango-images-tango-dsconfig/Dockerfile
  images/ska-tango-images-tango-itango/Dockerfile
  images/ska-tango-images-tango-java/Dockerfile
  images/ska-tango-images-tango-jive/Dockerfile
  images/ska-tango-images-tango-pogo/Dockerfile
  images/ska-tango-images-tango-python/Dockerfile
  images/ska-tango-images-tango-rest/Dockerfile
  images/ska-tango-images-tango-test/Dockerfile
Due: build_tango-dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-459: Adding authors label to all Dockerfiles
  images/ska-tango-images-tango-admin/Dockerfile
  images/ska-tango-images-tango-base/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-databaseds/Dockerfile
  images/ska-tango-images-tango-db/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
  images/ska-tango-images-tango-dsconfig/Dockerfile
  images/ska-tango-images-tango-itango/Dockerfile
  images/ska-tango-images-tango-java/Dockerfile
  images/ska-tango-images-tango-jive/Dockerfile
  images/ska-tango-images-tango-pogo/Dockerfile
  images/ska-tango-images-tango-python/Dockerfile
  images/ska-tango-images-tango-rest/Dockerfile
  images/ska-tango-images-tango-test/Dockerfile
Due: build_tango-dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-db, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-461 Add Boogie image
  images/ska-tango-images-tango-boogie/.release
  images/ska-tango-images-tango-boogie/Dockerfile
Due: none

WOM-461 Add documentation
  README.md
  docs/src/docker_images.rst
  tests/test_basics.py
Due: none

WOM-461 Generate .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

WOM-461 Specify boogie commit
  images/ska-tango-images-tango-boogie/Dockerfile
Due: none

WOM-512: Build documentation again
  .gitlab-ci.yml
  Makefile
  scripts/gitlab-ci.yml.head
Due: none

WOM-512: Use poetry over requirements.txt
  .gitlab-ci.yml
  README.md
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  scripts/gitlab-ci.yml.head
  tests/requirements.txt
Due: none

WOM-512: Update documentation to use latest styling
  docs/Pipfile
  docs/Pipfile.lock
  docs/src/README.md
  docs/src/_static/css/custom.css
  docs/src/_static/img/favicon.ico
  docs/src/_static/img/logo.jpg
  docs/src/_static/img/logo.svg
  docs/src/_templates/footer.html
  docs/src/_templates/layout.html
  docs/src/conf.py
Due: none

WOM-512: Get correct version information for docs
  docs/src/conf.py
Due: none

WOM-512: Add .readthedocs.yaml
  .readthedocs.yaml
Due: none

WOM-512: Add Ulrik to the CODEOWNERS
  CODEOWNERS
Due: none

WOM-514: Fix build pipeline to run on master
  .gitlab-ci.yml
  scripts/gitlab-ci.yml.head
Due: none

WOM-514: Fix Ulrik's name
  CODEOWNERS
Due: none

WOM-514: Fix broken logic
  .gitlab-ci.yml
  scripts/gitlab-ci.yml.head
Due: none

WOM-516: Move upstream versions to separate file
  images/ska-tango-images-tango-admin/Dockerfile
  images/ska-tango-images-tango-boogie/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-databaseds/Dockerfile
  images/ska-tango-images-tango-dependencies/Dockerfile
  images/ska-tango-images-tango-dsconfig/Dockerfile
  images/ska-tango-images-tango-itango/Dockerfile
  images/ska-tango-images-tango-java/Dockerfile
  images/ska-tango-images-tango-test/Dockerfile
  scripts/oci-build-with-deps.sh
  scripts/upstream_versions
Due: build_tango-dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-516: Move git SHA to BOOGIE_VERSION
  images/ska-tango-images-tango-boogie/Dockerfile
Due: none

WOM-516: Update tango-db image
  images/ska-tango-images-tango-db/Dockerfile
  tests/test_basics.py
Due: build_tango-db, scan_tango-db

WOM-513: Add versions for images
  images/ska-tango-images-tango-boogie/Dockerfile
  images/ska-tango-images-tango-db/Dockerfile
  images/ska-tango-images-tango-dsconfig/Dockerfile
  images/ska-tango-images-tango-itango/Dockerfile
  images/ska-tango-images-tango-python/Dockerfile
  scripts/upstream_versions
Due: build_tango-db, build_tango-dsconfig, build_tango-itango, scan_tango-db, scan_tango-dsconfig, scan_tango-itango

WOM-513: Fix typo in retry usage
  images/ska-tango-images-tango-base/retry.sh
Due: none

WOM-513: Redirect helm chart documentation to ska-tango-charts
  docs/src/helm_charts.rst
Due: none

WOM-513: Add a catalogue for the various images
  docs/src/catalogue/ska-tango-images-tango-admin.rst
  docs/src/catalogue/ska-tango-images-tango-base.rst
  docs/src/catalogue/ska-tango-images-tango-boogie.rst
  docs/src/catalogue/ska-tango-images-tango-cpp.rst
  docs/src/catalogue/ska-tango-images-tango-databaseds.rst
  docs/src/catalogue/ska-tango-images-tango-db.rst
  docs/src/catalogue/ska-tango-images-tango-dsconfig.rst
  docs/src/catalogue/ska-tango-images-tango-itango.rst
  docs/src/catalogue/ska-tango-images-tango-jive.rst
  docs/src/catalogue/ska-tango-images-tango-pogo.rst
  docs/src/catalogue/ska-tango-images-tango-python.rst
  docs/src/catalogue/ska-tango-images-tango-rest.rst
  docs/src/catalogue/ska-tango-images-tango-test.rst
  docs/src/conf.py
  docs/src/docker_images.rst
  docs/src/helm_charts.rst
  docs/src/how-to/build-cpptango-image.rst
  docs/src/how-to/build-pytango-image.rst
  docs/src/index.rst
Due: none

WOM-513: Remove README from documentation
  README.md
  docs/src/index.rst
Due: none

WOM-513: Add substitutions for versions
  docs/src/conf.py
  poetry.lock
  pyproject.toml
Due: none

WOM-513: Only use artefact.skao.int for tag/readthedocs builds
  docs/src/conf.py
Due: none

WOM-513: Add how-to for spinning up Tango environment
  docs/src/how-to/basic-docker-compose.rst
  docs/src/index.rst
Due: none

WOM-513: Use local/sha tag when building locally/CI
  docs/src/conf.py
Due: none

WOM-513 tango-db: Use old TangoDatabase version
  docs/src/catalogue/ska-tango-images-tango-db.rst
  images/ska-tango-images-tango-db/Dockerfile
  scripts/upstream_versions
  tests/test_basics.py
Due: build_tango-db, scan_tango-db

WOM-513: Add tests/compose.yaml
  README.md
  tests/compose.yaml
Due: none

WOM-513: Add how-to's for building images
  docs/src/how-to/build-cpptango-image.rst
  docs/src/how-to/build-pytango-image.rst
Due: none

Path conditions:
  build_tango-dependencies: any of: images/ska-tango-images-tango-dependencies/*
  build_tango-db: any of: images/ska-tango-images-tango-db/*
  build_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  build_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  build_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-rest/*
  build_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  build_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  build_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  build_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  build_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  build_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  build_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  build_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  build_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  build_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  build_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
  build_tango-pytango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  scan_tango-dependencies: any of: images/ska-tango-images-tango-dependencies/*
  scan_tango-db: any of: images/ska-tango-images-tango-db/*
  scan_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  scan_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  scan_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-rest/*
  scan_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  scan_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  scan_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  scan_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  scan_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  scan_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  scan_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  scan_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  scan_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  scan_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  scan_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
  scan_tango-pytango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
