Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dependencies, build_dependencies-alpine, build_tango-db, build_tango-db-alpine, build_tango-cpp, build_tango-cpp-alpine, build_tango-java, build_tango-rest, build_pytango-builder, build_pytango-builder-alpine, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-dsconfig-alpine, build_tango-itango, build_tango-itango-alpine, build_tango-vnc

Path conditions:
  build_dependencies: any of: images/ska-tango-images-tango-dependencies/*
  build_dependencies-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*
  build_tango-db: any of: images/ska-tango-images-tango-db/*
  build_tango-db-alpine: any of: images/ska-tango-images-tango-db-alpine/*
  build_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  build_tango-cpp-alpine: any of: images/ska-tango-images-tango-dependencies-alpine/*, images/ska-tango-images-tango-cpp-alpine/*
  build_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  build_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-rest/*
  build_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  build_pytango-builder-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*
  build_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  build_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  build_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  build_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  build_pytango-runtime-alpine: any of: images/ska-tango-images-tango-cpp-alpine/*, images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*
  build_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  build_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  build_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  build_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  build_tango-dsconfig-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-dsconfig-alpine/*
  build_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  build_tango-itango-alpine: any of: images/ska-tango-images-pytango-builder-alpine/*, images/ska-tango-images-pytango-runtime-alpine/*, images/ska-tango-images-tango-itango-alpine/*
  build_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*

ST-915: reenable all stages
  .gitlab-ci.yml
Due: none

bumped version to 0.2.30
  .release
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  images/ska-tango-images-tango-cpp-alpine/.release
  images/ska-tango-images-tango-cpp/.release
Due: build_tango-cpp, build_tango-cpp-alpine, build_tango-rest, build_pytango-builder, build_pytango-builder-alpine, build_tango-libtango, build_pytango-runtime, build_pytango-runtime-alpine, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango

ST-915 rebuild builder
  docker/tango/pytango-builder-alpine/Dockerfile
  docker/tango/tango-cpp-alpine/.release
  docker/tango/tango-cpp-alpine/Dockerfile
Due: none

ST-915 update the rest of the tango-cpp family
  docker/tango/tango-databaseds-alpine/.release
  docker/tango/tango-databaseds-alpine/Dockerfile
  docker/tango/tango-dsconfig-alpine/.release
  docker/tango/tango-dsconfig-alpine/Dockerfile
  docker/tango/tango-itango-alpine/.release
  docker/tango/tango-itango-alpine/Dockerfile
  docker/tango/tango-libtango-alpine/.release
  docker/tango/tango-libtango-alpine/Dockerfile
  docker/tango/tango-pytango-alpine/.release
  docker/tango/tango-pytango-alpine/Dockerfile
Due: none

ST-915 force building runtime
  docker/tango/pytango-runtime-alpine/.release
Due: none

ST-915 ad g++ to runtime
  docker/tango/pytango-runtime-alpine/.release
  docker/tango/pytango-runtime-alpine/Dockerfile
  docker/tango/tango-dsconfig-alpine/.release
  docker/tango/tango-dsconfig-alpine/Dockerfile
  docker/tango/tango-itango-alpine/Dockerfile
  docker/tango/tango-pytango-alpine/.release
  docker/tango/tango-pytango-alpine/Dockerfile
Due: none

ST-915 use itango-alpine on the charts
  charts/ska-tango-base/values.yaml
Due: none

ST-915 bump dependencies-alpine
  images/ska-tango-images-tango-dependencies-alpine/.release
  images/ska-tango-images-tango-dependencies-alpine/Dockerfile
Due: build_dependencies-alpine, build_tango-cpp-alpine

ST-915 bump cpp-alpine
  images/ska-tango-images-tango-cpp-alpine/.release
  images/ska-tango-images-tango-cpp-alpine/Dockerfile
Due: build_tango-cpp-alpine, build_pytango-builder-alpine, build_pytango-runtime-alpine

ST-915 bump builder-alpine
  images/ska-tango-images-pytango-builder-alpine/.release
  images/ska-tango-images-pytango-builder-alpine/Dockerfile
  images/ska-tango-images-tango-cpp-alpine/retry.sh
  images/ska-tango-images-tango-cpp-alpine/wait-for-it.sh
Due: build_tango-cpp-alpine, build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-915 bump builder-alpine
  images/ska-tango-images-pytango-builder-alpine/.release
Due: build_pytango-builder-alpine, build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-915 bump runtime-alpine
  images/ska-tango-images-pytango-runtime-alpine/.release
  images/ska-tango-images-pytango-runtime-alpine/Dockerfile
Due: build_pytango-runtime-alpine, build_tango-dsconfig-alpine, build_tango-itango-alpine

ST-915 bump dsconfig-alpine
  images/ska-tango-images-tango-dsconfig-alpine/.release
  images/ska-tango-images-tango-dsconfig-alpine/Dockerfile
Due: build_tango-dsconfig-alpine

ST-915 bump itango-alpine
  images/ska-tango-images-tango-itango-alpine/.release
  images/ska-tango-images-tango-itango-alpine/Dockerfile
Due: build_tango-itango-alpine

ST-915 bump libtango and its children
  images/ska-tango-images-tango-admin-alpine/.release
  images/ska-tango-images-tango-admin-alpine/Dockerfile
  images/ska-tango-images-tango-databaseds-alpine/.release
  images/ska-tango-images-tango-databaseds-alpine/Dockerfile
  images/ska-tango-images-tango-dsconfig-alpine/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-dsconfig-alpine/ska-tango-images-tango-dsconfig/Dockerfile
  images/ska-tango-images-tango-libtango-alpine/.release
  images/ska-tango-images-tango-libtango-alpine/Dockerfile
  images/ska-tango-images-tango-pytango-alpine/Dockerfile
  images/ska-tango-images-tango-test-alpine/.release
  images/ska-tango-images-tango-test-alpine/Dockerfile
Due: none

ST-915 test the db
  charts/ska-tango-base/values.yaml
  docker/tango/tango-db-alpine/.release
  docker/tango/tango-db-alpine/Dockerfile
Due: none

ST-915 test the db
  charts/ska-tango-base/values.yaml
  docker/tango/tango-db-alpine/Dockerfile
Due: none

ST-915 test the db
  docker/tango/tango-db-alpine/run.sh
Due: none

ST-915 test the db
  docker/tango/tango-db-alpine/.release
Due: none

SAR-315 Expanded the ingress.yaml tests Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  charts/ska-tango-base/tests/ingress_test.yaml
Due: none

SAR-315 Fixed indentation in the ingress.yaml file Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  charts/ska-tango-base/templates/ingress.yaml
Due: none

SAR-315 Removed the redundant .tgz chart file Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  charts/ska-tango-base/charts/ska-tango-util-0.2.14.tgz
Due: none

SAR-315 Updated the test-chart-templates CI job Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  .gitlab-ci.yml
Due: none

SAR-315 Added the chart_test target in the Makefile Co-authored-by: Abhijeet Deolalikar <abhijeet_deolalikar@persistent.com>
  Makefile
Due: none

ST-915 test the db
  docker/tango/tango-db-alpine/Dockerfile
Due: none

ST-915 test the db
  charts/ska-tango-base/values.yaml
  docker/tango/tango-db-alpine/.release
  docker/tango/tango-db-alpine/docker-entrypoint.sh
Due: none

ST-915 test the db
  charts/ska-tango-base/values.yaml
  docker/tango/tango-db-alpine/.release
Due: none

ST-915 last try for db-alpine
  charts/ska-tango-base/values.yaml
  docker/tango/tango-db-alpine/.release
  docker/tango/tango-db-alpine/Dockerfile
Due: none

ST-915 last try for db-alpine
  charts/ska-tango-base/values.yaml
  docker/tango/tango-db-alpine/Dockerfile
Due: none

ST-915 last try for db-alpine
  charts/ska-tango-base/values.yaml
  docker/tango/tango-db-alpine/Dockerfile
  docker/tango/tango-db-alpine/run.sh
Due: none

ST-915 last try for db-alpine
  charts/ska-tango-base/values.yaml
  docker/tango/tango-db-alpine/.release
Due: none

ST-915 last try for db-alpine
  charts/ska-tango-base/values.yaml
  docker/tango/tango-db-alpine/.release
  docker/tango/tango-db-alpine/run.sh
Due: none

ST-915 last try for db-alpine
  docker/tango/tango-db-alpine/run.sh
Due: none

ST-915 revert do db ubuntu
  charts/ska-tango-base/values.yaml
Due: none
