Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

Path conditions:
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_tango-rest: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-rest/**/*
  build_pytango-builder: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*
  build_tango-pogo: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-pogo/**/*
  build_tango-libtango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*
  build_tango-jive: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-jive/**/*
  build_pytango-runtime: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*
  build_tango-admin: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-admin/**/*
  build_tango-databaseds: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-databaseds/**/*
  build_tango-test: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-libtango/**/*, docker/tango/tango-test/**/*
  build_tango-dsconfig: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*, docker/tango/tango-dsconfig/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*, docker/tango/tango-itango/**/*
  build_tango-vnc: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-vnc/**/*
  build_tango-pytango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/pytango-builder/**/*, docker/tango/pytango-runtime/**/*, docker/tango/tango-pytango/**/*

ST-811 fix
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-base/templates/deviceservers.yaml
  charts/ska-tango-umbrella/Chart.yaml
Due: none

ST-811 fix
  charts/ska-tango-base/templates/deviceservers.yaml
Due: none

SKA-811 fix
  charts/ska-tango-base/templates/deviceservers.yaml
  charts/ska-tango-util/templates/_configuration.yaml
  charts/ska-tango-util/templates/_deviceserver.yaml
  charts/ska-tango-util/templates/_multidevice-config.yaml
  charts/ska-tango-util/templates/_multidevice-job.yaml
  charts/ska-tango-util/templates/_multidevice-sacc-role.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-811 fix
  charts/ska-tango-umbrella/Chart.yaml
Due: none

ST-811 fix
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
Due: none

ST-811 fix
  charts/ska-tango-base/Chart.yaml
Due: none

ST-811 fix
  charts/ska-tango-base/values.yaml
Due: none

ST-811 revert folder name change
  charts/ska-tango-umbrella/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-base/secrets/.gitkeep
  charts/tango-base/template_tests/databaseds_test.yaml
  charts/tango-base/templates/_helpers.tpl
  charts/tango-base/templates/databaseds.yaml
  charts/tango-base/templates/deviceservers.yaml
  charts/tango-base/templates/ingress.yaml
  charts/tango-base/templates/itango.yaml
  charts/tango-base/templates/jive.yaml
  charts/tango-base/templates/logviewer.yaml
  charts/tango-base/templates/tango-rest.yaml
  charts/tango-base/templates/tangodb-pv.yaml
  charts/tango-base/templates/tangodb.yaml
  charts/tango-base/templates/vnc.yaml
  charts/tango-base/values.yaml
  charts/tango-util/Chart.yaml
  charts/tango-util/templates/_configuration.yaml
  charts/tango-util/templates/_deviceserver.yaml
  charts/tango-util/templates/_multidevice-config.yaml
  charts/tango-util/templates/_multidevice-job.yaml
  charts/tango-util/templates/_multidevice-sacc-role.yaml
  charts/tango-util/templates/_multidevice-svc.yaml
Due: none

ST-811 fix
  charts/Makefile
Due: none

ST-811 chande tango-base into ska-tango-base
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-base/secrets/.gitkeep
  charts/ska-tango-base/template_tests/databaseds_test.yaml
  charts/ska-tango-base/templates/_helpers.tpl
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/deviceservers.yaml
  charts/ska-tango-base/templates/ingress.yaml
  charts/ska-tango-base/templates/itango.yaml
  charts/ska-tango-base/templates/jive.yaml
  charts/ska-tango-base/templates/logviewer.yaml
  charts/ska-tango-base/templates/tango-rest.yaml
  charts/ska-tango-base/templates/tangodb-pv.yaml
  charts/ska-tango-base/templates/tangodb.yaml
  charts/ska-tango-base/templates/vnc.yaml
  charts/ska-tango-base/values.yaml
  charts/ska-tango-umbrella/Chart.yaml
Due: none

ST-811 chande tango-base into ska-tango-base
  charts/Makefile
Due: none

ST-811 revert change
  charts/Makefile
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-util/Chart.yaml
  charts/ska-tango-util/templates/_configuration.yaml
  charts/ska-tango-util/templates/_deviceserver.yaml
  charts/ska-tango-util/templates/_multidevice-config.yaml
  charts/ska-tango-util/templates/_multidevice-job.yaml
  charts/ska-tango-util/templates/_multidevice-sacc-role.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
  charts/tango-base/Chart.yaml
  charts/tango-base/secrets/.gitkeep
  charts/tango-base/template_tests/databaseds_test.yaml
  charts/tango-base/templates/_helpers.tpl
  charts/tango-base/templates/databaseds.yaml
  charts/tango-base/templates/deviceservers.yaml
  charts/tango-base/templates/ingress.yaml
  charts/tango-base/templates/itango.yaml
  charts/tango-base/templates/jive.yaml
  charts/tango-base/templates/logviewer.yaml
  charts/tango-base/templates/tango-rest.yaml
  charts/tango-base/templates/tangodb-pv.yaml
  charts/tango-base/templates/tangodb.yaml
  charts/tango-base/templates/vnc.yaml
  charts/tango-base/values.yaml
Due: none

ST-811 fix
  charts/Makefile
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-base/secrets/.gitkeep
  charts/ska-tango-base/template_tests/databaseds_test.yaml
  charts/ska-tango-base/templates/_helpers.tpl
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/deviceservers.yaml
  charts/ska-tango-base/templates/ingress.yaml
  charts/ska-tango-base/templates/itango.yaml
  charts/ska-tango-base/templates/jive.yaml
  charts/ska-tango-base/templates/logviewer.yaml
  charts/ska-tango-base/templates/tango-rest.yaml
  charts/ska-tango-base/templates/tangodb-pv.yaml
  charts/ska-tango-base/templates/tangodb.yaml
  charts/ska-tango-base/templates/vnc.yaml
  charts/ska-tango-base/values.yaml
  charts/ska-tango-umbrella/Chart.yaml
Due: none

ST-811 fix
  charts/Makefile
  charts/ska-tango-umbrella/Chart.yaml
  charts/tango-base/Chart.yaml
  charts/tango-base/secrets/.gitkeep
  charts/tango-base/template_tests/databaseds_test.yaml
  charts/tango-base/templates/_helpers.tpl
  charts/tango-base/templates/databaseds.yaml
  charts/tango-base/templates/deviceservers.yaml
  charts/tango-base/templates/ingress.yaml
  charts/tango-base/templates/itango.yaml
  charts/tango-base/templates/jive.yaml
  charts/tango-base/templates/logviewer.yaml
  charts/tango-base/templates/tango-rest.yaml
  charts/tango-base/templates/tangodb-pv.yaml
  charts/tango-base/templates/tangodb.yaml
  charts/tango-base/templates/vnc.yaml
  charts/tango-base/values.yaml
Due: none

ST-811 revert ska-tango-util changes in the templates
  charts/ska-tango-util/templates/_configuration.yaml
  charts/ska-tango-util/templates/_deviceserver.yaml
  charts/ska-tango-util/templates/_multidevice-config.yaml
  charts/ska-tango-util/templates/_multidevice-job.yaml
  charts/ska-tango-util/templates/_multidevice-sacc-role.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
  charts/tango-base/templates/deviceservers.yaml
Due: none

ST-811 change name for template definition
  charts/ska-tango-util/templates/_configuration.yaml
  charts/ska-tango-util/templates/_deviceserver.yaml
  charts/ska-tango-util/templates/_multidevice-config.yaml
  charts/ska-tango-util/templates/_multidevice-job.yaml
  charts/ska-tango-util/templates/_multidevice-sacc-role.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

ST-811 change call to template
  charts/ska-tango-base/templates/deviceservers.yaml
Due: none

ST-811 fix jive image
  charts/ska-tango-base/values.yaml
Due: none

ST_860 bug fix .local
  charts/ska-tango-util/templates/_configuration.yaml
Due: none

AT-47 ska- prefix in all template files
  .gitignore
  charts/ska-tango-base/templates/_helpers.tpl
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/templates/ingress.yaml
  charts/ska-tango-base/templates/itango.yaml
  charts/ska-tango-base/templates/jive.yaml
  charts/ska-tango-base/templates/logviewer.yaml
  charts/ska-tango-base/templates/tango-rest.yaml
  charts/ska-tango-base/templates/tangodb-pv.yaml
  charts/ska-tango-base/templates/tangodb.yaml
  charts/ska-tango-base/templates/vnc.yaml
  docs/src/helm_charts.rst
Due: none

AT-47 updated ska-tango-base chart version
  charts/ska-tango-base/Chart.yaml
Due: none

AT-47 fixed umbrella Chart.yaml
  charts/ska-tango-base/values.yaml
  charts/ska-tango-umbrella/Chart.yaml
Due: none

st-834 refactor tangodb
  charts/ska-tango-base/values.yaml
  docker/make/Makefile.mk
  docker/tango/tango-db/.release
  docker/tango/tango-db/Dockerfile
Due: build_tango-db

ST-834 refactor tango-rest
  charts/ska-tango-base/values.yaml
  docker/make/Makefile.mk
  docker/tango/tango-rest/.release
  docker/tango/tango-rest/Dockerfile
Due: build_tango-rest

st-834 add labels
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-db/Dockerfile
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-test/Dockerfile
Due: build_tango-db, build_tango-rest, build_tango-admin, build_tango-databaseds, build_tango-test

st-834 bump versions
  charts/ska-tango-base/values.yaml
  docker/tango/tango-admin/.release
  docker/tango/tango-databaseds/.release
  docker/tango/tango-db/.release
  docker/tango/tango-rest/.release
  docker/tango/tango-test/.release
Due: build_tango-db, build_tango-rest, build_tango-admin, build_tango-databaseds, build_tango-test

st-834 bump charts version
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-umbrella/Chart.yaml
Due: none

ST-834 bump chart version
  charts/ska-tango-umbrella/Chart.yaml
Due: none

st-833 more images
  charts/ska-tango-base/values.yaml
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango

ST-833 bump versions
  docker/tango/pytango-builder/.release
  docker/tango/pytango-builder/Dockerfile
  docker/tango/pytango-runtime/.release
  docker/tango/pytango-runtime/Dockerfile
  docker/tango/tango-admin/.release
  docker/tango/tango-admin/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-libtango/Dockerfile
  docker/tango/tango-rest/Dockerfile
Due: build_tango-cpp, build_tango-rest, build_pytango-builder, build_tango-libtango, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-pytango

ST-833 bump versions
  docker/tango/tango-databaseds/.release
  docker/tango/tango-databaseds/Dockerfile
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-test/.release
  docker/tango/tango-test/Dockerfile
Due: build_tango-rest, build_tango-databaseds, build_tango-test

ST-833 change version
  charts/ska-tango-base/values.yaml
Due: none

ST-833 missing panic
  charts/ska-tango-base/values.yaml
  docker/tango/tango-java/.release
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-jive/.release
  docker/tango/tango-jive/Dockerfile
  docker/tango/tango-pogo/Dockerfile
  docker/tango/tango-pytango/.release
  docker/tango/tango-pytango/Dockerfile
  docker/tango/tango-rest/.release
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-test/Dockerfile
  docker/tango/tango-vnc/.release
  docker/tango/tango-vnc/Dockerfile
Due: build_tango-java, build_tango-rest, build_tango-pogo, build_tango-jive, build_tango-test, build_tango-vnc, build_tango-pytango

ST-833 docs update
  README.md
  docs/src/helm_charts.rst
Due: none

ST-833 panic and pogo
  .gitlab-ci.yml
  docker/tango/tango-panic-gui/.release
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic/.release
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-pogo/.release
  docker/tango/tango-pogo/Dockerfile
  version.txt
Due: build_tango-pogo

ST-833 delete not needed file
  version.txt
Due: none
