Repository ska-telescope/ska-tango-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-db, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

Path conditions:
  build_tango-dependencies: any of: images/ska-tango-images-tango-dependencies/*
  build_tango-db: any of: images/ska-tango-images-tango-db/*
  build_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  build_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  build_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-rest/*
  build_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  build_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  build_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  build_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  build_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  build_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  build_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  build_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  build_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  build_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  build_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
  build_tango-pytango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*
  scan_tango-dependencies: any of: images/ska-tango-images-tango-dependencies/*
  scan_tango-db: any of: images/ska-tango-images-tango-db/*
  scan_tango-cpp: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*
  scan_tango-java: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*
  scan_tango-rest: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-rest/*
  scan_pytango-builder: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*
  scan_tango-pogo: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-pogo/*
  scan_tango-libtango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*
  scan_tango-jive: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-jive/*
  scan_pytango-runtime: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*
  scan_tango-admin: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-admin/*
  scan_tango-databaseds: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-databaseds/*
  scan_tango-test: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-tango-libtango/*, images/ska-tango-images-tango-test/*
  scan_tango-dsconfig: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-dsconfig/*
  scan_tango-itango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-itango/*
  scan_tango-vnc: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-java/*, images/ska-tango-images-tango-vnc/*
  scan_tango-pytango: any of: images/ska-tango-images-tango-dependencies/*, images/ska-tango-images-tango-cpp/*, images/ska-tango-images-pytango-builder/*, images/ska-tango-images-pytango-runtime/*, images/ska-tango-images-tango-pytango/*

ST-1934: Set minikube to false
  .gitlab-ci.yml
Due: none

ST-1934: Added test devices
  .gitlab-ci.yml
  Makefile
Due: none

ST-1934: Fixed unittests
  charts/ska-tango-base/tests/deviceservers_test.yaml
  charts/ska-tango-base/tests/tangodb-pv_test.yaml
Due: none

ST-1934: Fixed unittests
  .gitlab-ci.yml
  charts/ska-tango-base/tests/deviceservers_test.yaml
  charts/ska-tango-base/tests/tangodb-pv_test.yaml
Due: none

ST-1934: Rolledback testDeviceServer changes
  .gitlab-ci.yml
  Makefile
  charts/ska-tango-base/Chart.yaml
  charts/ska-tango-base/templates/deviceservers.yaml
  charts/ska-tango-base/tests/deviceservers_test.yaml
  charts/ska-tango-base/values.yaml.sh
  charts/ska-tango-umbrella/Chart.yaml
  charts/ska-tango-umbrella/values.yaml
  charts/ska-tango-util/Chart.yaml
  charts/ska-tango-util/templates/_operator-ds.yaml
Due: none

ST-1934: Removed boolean
  charts/ska-tango-base/templates/deviceservers.yaml
  charts/ska-tango-base/values.yaml.sh
Due: none

STS-757: Upgrades to poetry==1.8.3
  images/ska-tango-images-pytango-builder/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_pytango-builder, scan_pytango-runtime, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

WOM-243: WIP update tango_admin
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-java/Dockerfile
Due: build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-243: Use --check-device-exported for readinessProbe
  charts/ska-tango-base/tests/deviceservers_test.yaml
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

WOM-243: Use --ping-database for databaseds probes
  charts/ska-tango-base/templates/databaseds.yaml
Due: none

WOM-243 pytango-builder: Ensure numpy<2 is installed
  images/ska-tango-images-pytango-builder/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_pytango-builder, scan_pytango-runtime, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

WOM-243: Increase timeouts of databaseds probes
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/values.yaml.sh
Due: none

WOM-243: Update tango_admin to Release_1.24
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-java/Dockerfile
Due: build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-485: Update CODEOWNERS
  CODEOWNERS
Due: none

WOM-485: Disable the ska-tango-examples job
  .gitlab-ci.yml
Due: none

WOM-467: Remove remnants of charts
  .gitignore
  charts/ska-tango-base/templates/databaseds.yaml
  charts/ska-tango-base/tests/deviceservers_test.yaml
  charts/ska-tango-base/values.yaml.sh
  charts/ska-tango-util/templates/_multidevice-svc.yaml
Due: none

WOM-467: Add simple tests for images
  .gitignore
  .gitlab-ci.yml
  Makefile
  tests/requirements.txt
  tests/test_basics.py
Due: none

WOM-459: Move logic to build images from .gitlab-ci.yml to Makefile
  .gitlab-ci.yml
  Makefile
  scripts/lib.sh
  scripts/oci-build-with-deps.sh
Due: none

WOM-459: Add Makefile rules for building locally
  Makefile
  README.md
  images/ska-tango-images-pytango-builder/Dockerfile
  images/ska-tango-images-pytango-runtime/Dockerfile
  images/ska-tango-images-tango-admin/Dockerfile
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-databaseds/Dockerfile
  images/ska-tango-images-tango-dsconfig/Dockerfile
  images/ska-tango-images-tango-itango/Dockerfile
  images/ska-tango-images-tango-java/Dockerfile
  images/ska-tango-images-tango-jive/Dockerfile
  images/ska-tango-images-tango-libtango/Dockerfile
  images/ska-tango-images-tango-panic-gui/Dockerfile
  images/ska-tango-images-tango-panic/Dockerfile
  images/ska-tango-images-tango-pogo/Dockerfile
  images/ska-tango-images-tango-rest/Dockerfile
  images/ska-tango-images-tango-test/Dockerfile
  images/ska-tango-images-tango-vnc/Dockerfile
  scripts/gen-make-deps.sh
  scripts/oci-build-with-deps.sh
Due: build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-459: Don't require SKA_TANGO_IMAGES_DIR env var
  Makefile
  tests/test_basics.py
Due: none

WOM-459: Update tests to use the images built locally
  Makefile
  README.md
  scripts/gen-images-with-tests.sh
  tests/test_basics.py
Due: none

WOM-459: Split tango-cpp into tango-cpp and tango-base
  Makefile
  images/ska-tango-images-tango-base/.release
  images/ska-tango-images-tango-base/Dockerfile
  images/ska-tango-images-tango-base/retry.sh
  images/ska-tango-images-tango-base/wait-for-it.sh
  images/ska-tango-images-tango-cpp/Dockerfile
  images/ska-tango-images-tango-libtango/.release
  images/ska-tango-images-tango-libtango/Dockerfile
Due: build_tango-cpp, build_pytango-builder, build_tango-libtango, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_tango-cpp, scan_pytango-builder, scan_tango-libtango, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

WOM-459: Update tango-dependencies to use ska-build
  images/ska-tango-images-tango-dependencies/Dockerfile
Due: build_tango-dependencies, build_tango-cpp, build_tango-java, build_tango-rest, build_pytango-builder, build_tango-pogo, build_tango-libtango, build_tango-jive, build_pytango-runtime, build_tango-admin, build_tango-databaseds, build_tango-test, build_tango-dsconfig, build_tango-itango, build_tango-vnc, build_tango-pytango, scan_tango-dependencies, scan_tango-cpp, scan_tango-java, scan_tango-rest, scan_pytango-builder, scan_tango-pogo, scan_tango-libtango, scan_tango-jive, scan_pytango-runtime, scan_tango-admin, scan_tango-databaseds, scan_tango-test, scan_tango-dsconfig, scan_tango-itango, scan_tango-vnc, scan_tango-pytango

WOM-459: Update C++ applications
  images/ska-tango-images-tango-admin/Dockerfile
  images/ska-tango-images-tango-databaseds/Dockerfile
  images/ska-tango-images-tango-test/.release
  images/ska-tango-images-tango-test/Dockerfile
  tests/test_basics.py
Due: build_tango-admin, build_tango-databaseds, build_tango-test, scan_tango-admin, scan_tango-databaseds, scan_tango-test

WOM-459: Rework pytango-runtime and remove pytango-builder
  images/ska-tango-images-pytango-builder/.release
  images/ska-tango-images-pytango-builder/Dockerfile
  images/ska-tango-images-pytango-builder/pip.conf
  images/ska-tango-images-pytango-runtime/Dockerfile
  images/ska-tango-images-pytango-runtime/pip.conf
  images/ska-tango-images-tango-pytango/.release
  images/ska-tango-images-tango-pytango/Dockerfile
Due: build_pytango-builder, build_pytango-runtime, build_tango-dsconfig, build_tango-itango, build_tango-pytango, scan_pytango-builder, scan_pytango-runtime, scan_tango-dsconfig, scan_tango-itango, scan_tango-pytango

WOM-459: Remove tango-vnc
  images/ska-tango-images-tango-vnc/.release
  images/ska-tango-images-tango-vnc/Dockerfile
Due: build_tango-vnc, scan_tango-vnc

WOM-459: Remove panic and panic-gui
  README.md
  images/ska-tango-images-tango-panic-gui/.release
  images/ska-tango-images-tango-panic-gui/Dockerfile
  images/ska-tango-images-tango-panic/.release
  images/ska-tango-images-tango-panic/Dockerfile
  images/ska-tango-images-tango-panic/aliases
  images/ska-tango-images-tango-panic/entrypoint.sh
  images/ska-tango-images-tango-panic/update-exim4.conf.conf
Due: none

WOM-459: Update python applications
  images/ska-tango-images-tango-dsconfig/.release
  images/ska-tango-images-tango-dsconfig/Dockerfile
  images/ska-tango-images-tango-itango/Dockerfile
Due: build_tango-dsconfig, build_tango-itango, scan_tango-dsconfig, scan_tango-itango

WOM-459: Update heirarchy in README.md
  README.md
Due: none

WOM-459: Fix tango-rest test
  tests/test_basics.py
Due: none
